service gearService /vendor/bin/gearService
    class late_start
    user root
    group root
    seclabel        u:object_r:gearService_exec:s0
  
    on boot:
        start gearService
        
    on property:reverseGear=1
        exec /system/bin/am start -n com.example.myapplication/.MainActivity
    on property:reverseGear=0
        exec /system/bin/am force-stop com.example.myapplication    


